@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 10px;
}
.user-posts, .confirm-bookings, .user-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 10px;
    background-color: #f9f9f9;
}

.post-entry {
    background-color: #e0f7fa; /* Example background color for user posts */
}

.booking-entry {
    background-color: #f9e0e0; /* Example background color for confirm bookings */
}
